

#question-mark-question,
#robot-face-outline-3,
#robot-eye-left,
#robot-eye-right {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: question-mark-question-appear 5s ease-in-out forwards;
}
#robot_head_group {
	animation: move_up 5s ease-in-out infinite;
}
#question_mark_group {
	transform-origin: center;
	transform-box: fill-box;
	animation: move_up 4s ease-in-out infinite, q_rotate 2s infinite;
}



@keyframes question-mark-question-appear {
  from, 20% {
  	fill-opacity: 0;
  }

  30% {
  	fill-opacity: 1;
  }

  to {
    stroke-dashoffset: 0;
  	
  }
}
@keyframes move_up {
	from 0% {
		transform: translateY(0);
	}
	50% {
		transform:  translateY(10px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes q_rotate {
	33% {
		transform: rotate(15deg);
	}
	66% {
		transform: rotate(-15deg);
	}
}


#question-mark-dot,
#robot-body-rectangle-left,
#robot-body-rectangle-right,
#robot-ear-left,
#robot-ear-left-2,
#robot-ear-right,
#robot-ear-right-2 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: question-mark-dot-appear 10s ease-in-out forwards;
}

@keyframes question-mark-dot-appear {
  from, 10% {
  	fill-opacity: 0;
  }

  15% {
  	fill-opacity: 1;
  }

  to {
    stroke-dashoffset: 0;
  	
  }
}



#robot-body-outline-1 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: robot-body-outline-appear 3s ease-in-out forwards;
}

#robot-body-outline-2,
#robot-body-outline-3,
#robot-body-outline-4,
#robot-body-outline-5,
#robot-body-outline-6,
#robot-face-outline,
#robot-face-outline-2,
#robot-smile {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: robot-body-outline-appear 4s ease-in-out forwards;
}

@keyframes robot-body-outline-appear {

  to {
    stroke-dashoffset: 0;
  }
}

.e {
	animation: experiment 1s infinite linear;
	transform-box: fill-box;
	transform-origin: center;
}

@keyframes experiment {
	0%, 100% {
		transform: scale(10);
	}

	50% {
		transform: scale(1.0);
	}
}