
.question-mark-animation {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: question-mark-question-appear 5s ease-in-out forwards;
}

.move-up-animation-1 {
	animation: move_up 5s ease-in-out infinite;
}

.move-up-animation-2 {
	transform-origin: center;
	transform-box: fill-box;
	animation: move_up 4s ease-in-out infinite, q_rotate 2s infinite;
}



@keyframes question-mark-question-appear {
  from, 20% {
  	fill-opacity: 0;
  }

  30% {
  	fill-opacity: 1;
  }

  to {
    stroke-dashoffset: 0;
  	
  }
}
@keyframes move_up {
	from 0% {
		transform: translateY(0);
	}
	50% {
		transform:  translateY(10px);
	}
	to {
		transform: translateY(0);
	}
}
@keyframes q_rotate {
	33% {
		transform: rotate(15deg);
	}
	66% {
		transform: rotate(-15deg);
	}
}

.question-mark-dot-appear {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: question-mark-dot-appear 10s ease-in-out forwards;
}

@keyframes question-mark-dot-appear {
  from, 10% {
  	fill-opacity: 0;
  }

  15% {
  	fill-opacity: 1;
  }

  to {
    stroke-dashoffset: 0;
  	
  }
}

.robot-body-outline-appear {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: robot-body-outline-appear 3s ease-in-out forwards;
}

.robot-body-outline-appear-2 {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: robot-body-outline-appear 4s ease-in-out forwards;
}

@keyframes robot-body-outline-appear {

  to {
    stroke-dashoffset: 0;
  }
}
