:root {
	--background : #FAF7F4;
	--card-background: #F0EDEA;
	--card-background-dark: #1d1d1d;
	--font-color-1: #164951;
	--font-jakarta: 'Plus Jakarta Sans', sans-serif;
	--dark-peach: #FF5F5F;
	--form-background: #FFFFFF;
	--form-border: #EFEFEF;
	--form-input-border: #8F8F8F;
	--white: white;
	--card-shadow:drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
	--form-background-dark: #303030;
  	--inner-card-background-dark: #303030;
  	--accordion-background-dark: #303030;
}


.dark {
	background: var(--accordion-background-dark);
	color: var(--card-background);
}

.light {
	background: var(--card-background);
	color: var(--font-color-1);
}

.dark-accordion {
	color: var(--card-background);
	border-radius: none !important;
	box-shadow: none !important;
}

button.dark-accordion:focus {
	color: var(--card-background) !important;

}

.questions,
.questionsMobile {
	width: 100%;
	height: 100%;
	border-radius: 40px;
}

.questions-heading {
	font-size: 1.5rem;
	font-weight: bolder;
}

.questions-heading-mobile{
	font-size: 1.2rem;
	font-weight: bolder;
}

.questions-heading span,
.questions-heading-mobile span {
	color: var(--dark-peach);
}

.questions-text {
	font-size: 1.2rem;
}

.questions-text-mobile{
	font-size: 0.85rem;
}

.questions-button-shine {
	width: 150px;
	height: 50px;
	background: var(--dark-peach);
	border: none;
	color: var(--white);
	border-radius: 0.5rem;
	transform: translate(-50%, -50%);
	overflow: hidden;
	font-size: 0.9rem;
	font-weight: bolder;
}

.questions-button-shine:before {
	content: '';
	position: absolute;
	top: 0;
	left: -300px;
	background: rgba(255,255,255,0.6);
	width: 50px;
	height: 300px;
	transform: skew(-45deg);
	box-shadow: 0 0px 50px 5px rgba(255,255,255,1);
	transition: 0.8s;
}

.questions-button-shine:hover:before {
	left: 300px;
}

.questions-buttonMobile {
	width: 8rem;
	height: 2.2rem;
	background: var(--dark-peach);
	border: none;
	color: var(--white);
	border-radius: 0.5rem;
	transform: translate(0%, -50%);
	overflow: hidden;
	font-size: 0.8rem;
	font-weight: bolder;
}

.questions-buttonMobile:before {
	content: '';
	position: absolute;
	top: 0;
	left: -300px;
	background: rgba(255,255,255,0.6);
	width: 50px;
	height: 300px;
	transform: skew(-45deg);
	box-shadow: 0 0px 50px 5px rgba(255,255,255,1);
	transition: 0.8s;
}

.questions-buttonMobile:hover:before {
	left: 300px;
}

.accordion-item {
	height: 95% !important;
	border-radius: 20px !important;
	margin-bottom: 1rem;
}

.accordion-header {
	margin: auto;
	border-radius: 20px !important;
	background: transparent;
}

.accordion-body {
	margin: auto;
	border-radius: 0 0 20px 20px !important;
	background: transparent;
	font-size: 0.8rem;
}

.accordion-body-mobile {
	font-size: 0.75rem !important;
}

button.accordion-button {
	background:transparent;
	border: none !important;
	width: 100%;
	height: 3.5rem;
	border-radius: 0.8rem !important;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	font-size: 1rem;
}


button.accordion-button-mobile {
	font-size: 0.85rem !important;
}

button.accordion-button:focus {
	border-radius: 0.8rem 0.8rem 0 0 !important;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	color: var(--font-color-1);

}

.accordion-button:not(.collapsed) {
	background-color: transparent !important;
}


@media only screen and (max-width: 992px) and (min-width: 768px) {

	.questions-heading {
		font-size: 1.3rem;
	}

	.questions-text {
		font-size: 1rem;
	}

	button.accordion-button {
		font-size: 0.9rem;
		height: 3rem;
	}

	.accordion-body{
		font-size: 0.75rem;
	}

	.questions-button-shine {
		width: 7rem;
		height: 2.6rem;
	}
}	


