#path16 {
    fill: #fafaf9;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path30 {
    fill: #dadbd8;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path46 {
    fill: #f3f2f1;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path48 {
    fill: #dadbd8;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path102 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path104 {
    fill: none;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path106 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-two-part-pie-chart {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#s-svg-two-part-pie-chart-1 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-two-part-pie-chart-2 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path110 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-two-part-pie-chart-lines-2 {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path112 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path114 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path118 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-two-part-pie-chart-lines-1 {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path120 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path122 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-three-parts-pie-chart {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#s-svg-three-parts-pie-chart-1 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path67 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-three-parts-pie-chart-2 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path71 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-three-parts-pie-chart-3 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path134 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path136 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path138 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path140 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path142 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-graph-middle {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path144 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path146 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path148 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path150 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path152 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path154 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path156 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path158 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path160 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path162 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path164 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path188 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path190 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path192 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path194 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path196 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path166 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path168 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path170 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path172 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path174 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path176 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path178 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path180 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path182 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path184 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path186 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path198 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path200 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path202 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path204 {
    fill: #fafaf9;
    fill-opacity: 0;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path206 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path208 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-graph-left {
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#s-graph-left-2 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-graph-left-5 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-graph-left-6 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-graph-left-1 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-graph-left-3 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-graph-left-4 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path222 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path224 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path226 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path228 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path230 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path232 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path234 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path236 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path238 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 1.50000004;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path240 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path242 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path244 {
    fill: #ff5f5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path246 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path248 {
    fill: none;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path250 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path252 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path254 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path256 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path258 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path260 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path262 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path264 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path266 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path268 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path270 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path272 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path274 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path276 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path278 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path280 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path282 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path284 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path286 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path288 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path290 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path292 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path294 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-graph-right-text {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#s-svg-graph-right-text-1 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-graph-right-text-2 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-graph-right-text-3 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-graph-right-text-4 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path304 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path306 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path308 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path310 {
    fill: #f68260;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path312 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path314 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path316 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path318 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-woman-hair {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path320 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path322 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path326 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path328 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path324 {
    fill: #f68260;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path330 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path332 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path334 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path336 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path340 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path342 {
    fill: #9ba6a6;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path344 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path348 {
    fill: #fcd5df;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path352 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path354 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path356 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path358 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path360 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path362 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path364 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path366 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path378 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path380 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path382 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path384 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path386 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path388 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path392 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path398 {
    fill: #9ba6a6;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path400 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path408 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path410 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path414 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path416 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path418 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path420 {
    fill: #e7e8e5;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path422 {
    fill: #fafaf9;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path424 {
    fill: #fafaf9;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path426 {
    fill: #fafaf9;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path428 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path430 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path432 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path434 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path436 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path438 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path440 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path442 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path444 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path446 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path448 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path450 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path452 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 0.75000002;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path454 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path456 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path460 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path462 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path464 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path466 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path468 {
    fill: #b85549;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path470 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path472 {
    fill: none;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path476 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path478 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path480 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path482 {
    fill: #33535f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-man-leg {
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path484 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path606 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path486 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path488 {
    fill: #f57797;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path490 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path492 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path494 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path496 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path498 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path500 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path502 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path504 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path510 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path520 {
    fill: #a7a9a8;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path524 {
    fill: #0f191d;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path532 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path534 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path536 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path538 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path540 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path542 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path544 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path546 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path548 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path550 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path552 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path556 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path576 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path578 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path580 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path582 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path584 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path586 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path588 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path590 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path592 {
    fill: #b85549;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path594 {
    fill: #b85549;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path596 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path598 {
    fill: #a7a9a8;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path602 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path604 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path608 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path612 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path616 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 9.75000024;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path618 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-leaf-1 {
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path620 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path622 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-leaf-2 {
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path624 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path626 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path628 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path630 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path632 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path634 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path636 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path638 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path640 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path642 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-leaf-3 {
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path644 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path646 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path648 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path650 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path652 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path654 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path656 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path658 {
    fill: #ba2c42;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path660 {
    fill: #0f191d;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-leaf-6 {
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path662 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path664 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path666 {
    fill: #ba2c42;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path668 {
    fill: #0f191d;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-leaf-5 {
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path670 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path672 {
    fill: #ba2c42;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path674 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#s-svg-leaf-4 {
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke: #000000;
    stroke-opacity: 1;
}

#path676 {
    fill: #f03d5f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path678 {
    fill: #ba2c42;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path680 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path682 {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path684 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}

#path686 {
    fill: #17282f;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: #000000;
    stroke-width: 4.50000011;
    stroke-dasharray: none;
    stroke-opacity: 1;
}