#coffee-cup {
	stroke-width:1.75242;
}

#g53 {
	stroke-width:1.75242;
}

#svg-about-us-1 {
	stroke-width:1.75242; 
	stroke:#703530;
}

#coffee-line-1 {
	fill:transparent;  
	stroke-width:4.5;
}

#svg-about-us-3 {
	stroke-width:1.75242; stroke:#703530;	
}

#coffee-line-2 {
	fill:transparent;stroke-width:4.5;
}

#svg-about-us-5 {
	stroke-width:1.75242; stroke:#703530;
}

#coffee-line-3 {
	fill:transparent;stroke-width:4.5;
}

#g59 {
	stroke-width:1.75242;
}

#about-us-svg-main-path55 {
	fill:#ff5f5f;fill-opacity:1;stroke-width:1.75242;
}

#about-us-svg-main-path57 {
	fill:#ff6969;fill-opacity:1;stroke-width:1.75242;
}

#about-us-svg-main-path61 {
	fill:#ff6969;fill-opacity:1;stroke-width:1.75242;
}

#about-us-svg-main-path63 {
	fill:#ff5f5f;fill-opacity:1;stroke-width:1.75242;
}

#about-us-svg-main-path65 {
	fill:#ff6969;fill-opacity:1;stroke-width:1.75242;
}

#about-us-svg-main-path67 {
	fill:#ff5f5f;fill-opacity:1;stroke-width:1.75242;
}

#about-us-svg-main-path71 {
	fill:#414042;fill-opacity:1;stroke-width:1.75242;
}

#about-us-svg-main-path73 {
	fill:#414042;fill-opacity:1;stroke-width:1.75242;
}



/*Furry Feline styles start*/

#g872 {
	stroke-width:4.27629;
}

#about-us-svg-cat-path2 {
	stroke-width:14.6292;
}

#about-us-svg-cat-path4{
	stroke-width:14.6292;
}

#about-us-svg-cat-path6{
	stroke-width:14.6292;
}

#about-us-svg-cat-path12 {
	stroke-width:14.6292;
}

#cat-tail {
	stroke-width:14.6292;
}

#about-us-svg-cat-path14 {
	stroke-width:14.6292;
}

#about-us-svg-cat-path16 {
	stroke-width:14.6292;
}

#about-us-svg-cat-path18 {
	stroke-width:14.6292;
}

#about-us-svg-cat-path20 {
	stroke-width:14.6292;
}

/*Furry Feline styles end*/


/*Completed Projects styles start*/

#g1191 {
    stroke-width: 7.57738;
}

#g1155 {
    stroke-width: 5.95022;
}

#about-us-svg-cp-path26 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path28 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path30 {
    stroke-width: 4.67249;
}

#polygon32 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path34 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path36 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-circle38 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path40 {
    stroke-width: 4.67249;
}

#polygon42 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path44 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path46 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path48 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path50 {
    stroke-width: 4.67249;
}

#about-us-svg-cp-path52 {
    stroke-width: 4.67249;
}

#g1165 {
    stroke-width: 7.57738;
}

#about-us-svg-cp-circle14 {
    fill: #ff5f5f;
    fill-opacity: 1;
}

/*Completed Projects styles end*/


/*Web development styles start*/

#g564 {
    stroke-width: 1.2494;
}

#g492 {
    stroke-width: 1.2494;
}

#about-us-svg-wd-path165 {
    stroke-width: 1.2494;
}

#g437 {
    stroke-width: 1.2494;
}

#about-us-svg-wd-path167 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path169 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path171 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path173 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path175 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path177 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path179 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path181 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path183 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path185 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path187 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path189 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path191 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path193 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path195 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path197 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path199 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path201 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path203 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path205 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path207 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path209 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path211 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path213 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path215 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path217 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path219 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path221 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path223 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path225 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path227 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path229 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path231 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path233 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path235 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path237 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path239 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path241 {
    stroke-width: 1.2488;
}

#dash-4 {
    stroke-width: 1.2488;
}

#dash-5 {
    stroke-width: 1.2488;
}

#dash-8 {
    stroke-width: 1.2488;
}

#dash-7 {
    stroke-width: 1.2488;
}

#dash-6 {
    stroke-width: 1.2488;
}

#dash-2 {
    stroke-width: 1.2488;
}

#dash-3 {
    stroke-width: 1.2488;
}

#dash-1 {
    stroke-width: 1.2488;
}

#dash-11 {
    stroke-width: 1.2488;
}

#dash-12 {
    stroke-width: 1.2488;
}

#dash-9 {
    stroke-width: 1.2488;
}

#dash-10 {
    stroke-width: 1.2488;
}

#g384 {
    stroke-width: 1.2494;
}

#about-us-svg-wd-path269 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path271 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path273 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path275 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path277 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path279 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path281 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path283 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path285 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path287 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path289 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path291 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path293 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path295 {
    stroke-width: 1.2488;
}

#about-us-svg-wd-path297 {
    stroke-width: 1.2488;
}

/*Web development styles end*/


/*Project Management styles start*/

#g220 {
    stroke-width: 0.624999;
}

#about-us-svg-pm-path2 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path4 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path6 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path8 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path10 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path12 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path14 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path16 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path18 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path20 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path22 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path24 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path26 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path28 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path30 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path32 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path34 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path44 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path46 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path36 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path62 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path64 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path38 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path48 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path50 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path52 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path40 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path54 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path56 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path58 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path60 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path42 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path66 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path68 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path70 {
    stroke-width: 0.312499;
}

#about-us-svg-pm-path72 {
    stroke-width: 0.312499;
}

/*Project Management styles end*/

