:root {
  --background : #FAF7F4;
  --background-dark: #0b0b0b;
  --card-background: #F0EDEA;
  --card-background-dark: #1d1d1d;
  --font-color-1: #164951;
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --dark-peach: #FF5F5F;
  --form-background: #FFFFFF;
  --form-border: #EFEFEF;
  --form-input-border: #8F8F8F;
  --services-list-item-line: rgb(22,73,81, 10%);
  --why-us-inner-card-background: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255, 0.1));
  --card-shadow:drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
  --white: white;
}


#navbar {
    border-radius: 0.5rem; 
}

#navbar-container{
    position: sticky;
    top: 0%;
    z-index: 10;
}

.navbar-brand, .nav-link {
    color: var(--card) !important;
    font-weight: bold;
}

.dark-navbar {
    color: var(--card-background) !important;
    background: var(--font-color-1) !important;
}

.dark-navbar-toggler {
    color: var(--card-background) !important;
    border-width: 0.01rem;
    border-color: var(--card-background);
    
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-item, .navbar-brand, .darkMode-toggler-icon {
    cursor: pointer;
}

@media only screen and (max-width: 992px) and (min-width: 768px){
    .navbar-brand-div {
        width: 75%;
    }
}

@media only screen and (max-width: 768px) {

    .navbar-brand-div {
        width: 50%;
    }
}