:root {
	--background-light : #FAF7F4;
	--background-dark: #0b0b0b;
	--card-background: #1d1d1d;
	--font-color-1: #164951;
	--font-jakarta: 'Plus Jakarta Sans', sans-serif;
	--dark-peach: #FF5F5F;
	--form-background: #FFFFFF;
	--form-border: #EFEFEF;
	--form-input-border: #8F8F8F;
}

body {
	font-family: var(--font-jakarta);
	overflow-x: hidden;
}

p, h3, h4, h1, h2, h5 {
	margin-bottom: 0;
}


.app-light {
	background: var(--background-light);
	color: var(--font-color-1);
	transition: color 150ms ease-in-out, background 150ms ease-in-out;
}

.app-dark {
	background: var(--background-dark);
	color: var(--card-background);
	transition: color 150ms ease-in-out, background 150ms ease-in-out;
}

.section-heading {
	font-size: 1.5rem;
	font-weight: bolder;
	margin-bottom: 0%;
}

.section-heading span {
	color: var(--dark-peach);
}

.section-text {
	font-size: 1.2rem;
	margin-bottom: 0%;
}

.minor-page-heading {
	font-size: 1rem;
  	font-weight: bold;
  	margin-bottom: 0%;
}

.minor-page-text {
	font-size: 0.9rem;
  	text-align: justify;
  	margin-bottom: 0%;
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
	.section-heading {
		font-size: 1.3rem;
	}

	.section-text {
		font-size: 1rem;
	}	
}

@media only screen and (max-width: 767px)  {
	.section-heading {
		font-size: 1.2rem;
	}	

	.section-text {
	font-size: 0.85rem;
	}

	.minor-page-heading {
		font-size: 0.9rem;
	}

	.minor-page-text {
		font-size: 0.8rem;
	}	
}