:root {
	--background : #FAF7F4;
	--card-background: #F0EDEA;
	--card-background-dark: #1d1d1d;
	--font-color-1: #164951;
	--font-jakarta: 'Plus Jakarta Sans', sans-serif;
	--dark-peach: #FF5F5F;
	--form-background: #FFFFFF;
	--form-border: #EFEFEF;
	--form-input-border: #8F8F8F;
	--white: white;
	--card-shadow:drop-shadow(0 10px 10px rgba(0, 0, 0, 0.25));
	--form-background-dark: #303030;
  	--inner-card-background-dark: #303030;
  	--accordion-background-dark: #303030;
}


.dark {
	background: var(--accordion-background-dark);
	color: var(--card-background);
}

.light {
	background: var(--card-background);
	color: var(--font-color-1);
}

.dark-accordion {
	color: var(--card-background);
	border-radius: none !important;
	box-shadow: none !important;
}

button.dark-accordion:focus {
	color: var(--card-background) !important;
}

.questions,
.questionsMobile {
	width: 100%;
	height: 100%;
	border-radius: 40px;
}

.questions-heading {
	font-size: 1.5rem;
	font-weight: bolder;
}

.questions-heading-mobile{
	font-size: 1.2rem;
	font-weight: bolder;
}

.questions-heading span,
.questions-heading-mobile span {
	color: var(--dark-peach);
}

.questions-text {
	font-size: 1.2rem;
}

.questions-text-mobile{
	font-size: 0.85rem;
}

.questions-button-shine {
	width: 150px;
	height: 50px;
	background: var(--dark-peach);
	border: none;
	color: var(--white);
	border-radius: 0.5rem;
	transform: translate(-50%, -50%);
	overflow: hidden;
	font-size: 0.9rem;
	font-weight: bolder;
}

.questions-button-shine:before {
	content: '';
	position: absolute;
	top: 0;
	left: -300px;
	background: rgba(255,255,255,0.6);
	width: 50px;
	height: 300px;
	transform: skew(-45deg);
	box-shadow: 0 0px 50px 5px rgba(255,255,255,1);
	transition: 0.8s;
}

.questions-button-shine:hover:before {
	left: 300px;
}

.questions-buttonMobile {
	width: 8rem;
	height: 2.2rem;
	background: var(--dark-peach);
	border: none;
	color: var(--white);
	border-radius: 0.5rem;
	overflow: hidden;
	font-size: 0.8rem;
	font-weight: bolder;
}

.questions-buttonMobile:before {
	content: '';
	position: absolute;
	top: 0;
	left: -300px;
	background: rgba(255,255,255,0.6);
	width: 50px;
	height: 300px;
	transform: skew(-45deg);
	box-shadow: 0 0px 50px 5px rgba(255,255,255,1);
	transition: 0.8s;
}

.questions-buttonMobile:hover:before {
	left: 300px;
}

.accordion-item {
	height: 95% !important;
	border-radius: 20px !important;
	margin-bottom: 1rem;
}

.accordion-header {
	margin: auto;
	border-radius: 20px !important;
	background: transparent;
}

.accordion-body {
	margin: auto;
	border-radius: 0 0 20px 20px !important;
	background: transparent;
	font-size: 0.8rem;
}

.accordion-body-mobile {
	font-size: 0.75rem !important;
}

button.accordion-button {
	background:transparent;
	border: none !important;
	width: 100%;
	height: 3.5rem;
	border-radius: 0.8rem !important;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	font-size: 1rem;
}

button.accordion-button-mobile {
	font-size: 0.85rem !important;
}

button.accordion-button:focus {
	border-radius: 0.8rem 0.8rem 0 0 !important;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
	color: var(--font-color-1);
}

.accordion-button:not(.collapsed) {
	background-color: transparent !important;
}


/*Desktop Animations Start*/

.questions-lhs-animation {
	animation: questions-lhs-animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

@keyframes questions-lhs-animation {
	0% {
		opacity: 0;
		transform: translateX(-30%);
	}

	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.questions-button-pulse-animation {
	animation: questions-button-pulse-animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: bottom left;
}

@keyframes questions-button-pulse-animation {
	0%, 50% {
		opacity: 0;
	}

	70% {
		opacity: 1;
		transform: scale(1);
	}

	71%, 85% {
		transform: scale(1.1);
	}

	76%, 90%, 100% {
		transform: scale(1.0);
	}
}

.questions_1_animation {
	animation: questions_1_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_2_animation {
	animation: questions_2_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_3_animation {
	animation: questions_3_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_4_animation {
	animation: questions_4_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_5_animation {
	animation: questions_5_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_6_animation {
	animation: questions_6_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_7_animation {
	animation: questions_7_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_8_animation {
	animation: questions_8_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_9_animation {
	animation: questions_9_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_10_animation {
	animation: questions_10_animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

@keyframes questions_1_animation {
	0%, 40% {
		opacity: 0;
		transform: translateY(30%);
	}

	50% {
		opacity: 1;
		transform: translateY(0%);
	}

}

@keyframes questions_2_animation {
	0%, 45% {
		opacity: 0;
		transform: translateY(30%);
	}

	55% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_3_animation {
	0%, 50% {
		opacity: 0;
		transform: translateY(30%);
	}

	60% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_4_animation {
	0%, 55% {
		opacity: 0;
		transform: translateY(30%);
	}

	65% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_5_animation {
	0%, 60% {
		opacity: 0;
		transform: translateY(30%);
	}

	70% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_6_animation {
	0%, 65% {
		opacity: 0;
		transform: translateY(30%);
	}

	75% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_7_animation {
	0%, 70% {
		opacity: 0;
		transform: translateY(30%);
	}

	80% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_8_animation {
	0%, 75% {
		opacity: 0;
		transform: translateY(30%);
	}

	85% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_9_animation {
	0%, 80% {
		opacity: 0;
		transform: translateY(30%);
	}

	90% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes questions_10_animation {
	0%, 85% {
		opacity: 0;
		transform: translateY(30%);
	}

	95% {
		opacity: 1;
		transform: translateY(0%);
	}
}

/*Desktop Animations End*/




/*Mobile Animation Start*/

.ques-head-mob-animation {
	animation: ques-head-mob-animation 1s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.ques-text-mob-animation {
	animation: ques-text-mob-animation 1s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.ques-button-mob-animation {
	animation: ques-button-mob-animation 3s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_1_m_animation {
	animation: questions_1_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_2_m_animation {
	animation: questions_2_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_3_m_animation {
	animation: questions_3_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_4_m_animation {
	animation: questions_4_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_5_m_animation {
	animation: questions_5_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_6_m_animation {
	animation: questions_6_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_7_m_animation {
	animation: questions_7_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_8_m_animation {
	animation: questions_8_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_9_m_animation {
	animation: questions_9_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

.questions_10_m_animation {
	animation: questions_10_m_animation 2s ease-in-out;
	transform-box: fill-box;
	transform-origin: center;
}

@keyframes ques-head-mob-animation {
	0%, 6.66% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes ques-text-mob-animation {
	0%, 13.33% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes ques-button-mob-animation {
	0%, 20% {
		opacity: 0;
		transform: translateY(30%), scale(1.0);
	}

	49% {
		opacity: 1;
		transform: translateY(0);
	}

	50%, 60% {
		transform: scale(1.1);
	}

	55%, 65%, 100% {
		transform: scale(1.0);
	}
}

@keyframes questions_1_m_animation {
	0%, 26.66% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_2_m_animation {
	0%, 33.33% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_3_m_animation {
	0%, 40% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_4_m_animation {
	0%, 46.66% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_5_m_animation {
	0%, 53.33% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_6_m_animation {
	0%, 60% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_7_m_animation {
	0%, 66.66% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_8_m_animation {
	0%, 73.33% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_9_m_animation {
	0%, 80% {
		opacity: 0;
		transform: translateY(30%);
	}
}

@keyframes questions_10_m_animation {
	0%, 86.66% {
		opacity: 0;
		transform: translateY(30%);
	}
}

/*Mobile Animaton End*/


@media only screen and (max-width: 992px) and (min-width: 768px) {

	.questions-heading {
		font-size: 1.3rem;
	}

	.questions-text {
		font-size: 1rem;
	}

	button.accordion-button {
		font-size: 0.9rem;
		height: 3rem;
	}

	.accordion-body{
		font-size: 0.75rem;
	}

	.questions-button-shine {
		width: 7rem;
		height: 2.6rem;
	}
}	


