.laptop-container > img {
    width: 95%;
}
.made-with-icons {
    height: 2.5rem;
    filter: grayscale(100%);
}
.image-container {
    display: flex;
    justify-content: space-between;
}

.carousel-control-prev, 
.carousel-control-next {
    filter: invert(100%);
    width: 4%;
    transition: transform 100ms ease-in-out;
}

.carousel-control-prev:hover, 
.carousel-control-next:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {

    .image-container-mobile img {
        }

        .laptop-container > img {
        width: 100%;
    }

}