#ys-path34 {
stroke-width:0.958094;
fill:#e8e8e8;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}

#ys-path42 {
stroke-width:0.958;
fill:#e8e8e8;
fill-opacity:1;
stroke-dasharray:none;
stroke:#000000;
stroke-opacity:1;
}
#ys-path38 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#e8e8e8;
fill-opacity:1;
}
#ys-path40 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#e8e8e8;
fill-opacity:1;
}
#ys-path6 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path8 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path10 {
stroke-width:0.958;
stroke-dasharray:none;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path24 {
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-width:0.958094;
stroke-opacity:1;
}
#ys-path26 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path30 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path32 {
stroke-width:0.958;
stroke-dasharray:none;
fill:#000000;
fill-opacity:0;
}
#ys-path84 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path86 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path88 {
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-width:0.958094;
stroke-opacity:1;
}
#ys-path90 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path92 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path94 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path96 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path98 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path100 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path102 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path104 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path106 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path108 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path120 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path122 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path124 {
stroke-width:0.958;
stroke-dasharray:none;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path126 {
stroke-width:0.958;
stroke-dasharray:none;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path128 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path130 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path132 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path134 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path136 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path138 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path140 {
stroke-width:0.958;
stroke-dasharray:none;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path142 {
stroke-width:0.958;
stroke-dasharray:none;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path146 {
stroke-width:0.958;
stroke-dasharray:none;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path166 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path168 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path170 {
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-width:0.958094;
stroke-opacity:1;
}
#ys-path172 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path174 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path176 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path178 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path180 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path16 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path20 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path14 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path28 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path258 {
stroke-width:0.958094;
}
#ys-path260 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path182 {
stroke-width:0.958094;
}
#ys-path184 {
stroke-width:0.958094;
}
#ys-path212 {
stroke-width:0.958094;
}
#g227 {
stroke-width:0.862285;
}
#ys-path217 {
stroke-width:0.826151;
}
#ys-path219 {
stroke-width:0.826151;
}
#ys-path221 {
stroke-width:0.826151;
}
#ys-path223 {
stroke-width:0.826151;
}
#ys-path225 {
stroke-width:0.826151;
}
#ys-path262 {
stroke-width:0.958094;
}
#ys-path264 {
stroke-width:0.958094;
}
#ys-path266 {
stroke-width:0.958094;
}
#ys-path268 {
stroke-width:0.958094;
}
#ys-path270 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path190 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path192 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path194 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path196 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path198 {
stroke-width:0.958094;
}
#ys-path200 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path202 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path204 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path206 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path208 {
stroke-width:0.958094;
fill:#ff5f5f;
fill-opacity:1;
stroke:#000000;
stroke-opacity:1;
}
#ys-path210 {
stroke-width:0.958094;
}
#ys-path246 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path248 {
stroke-width:0.958094;
}
#ys-path250 {
stroke-width:0.958094;
}
#ys-path252 {
stroke-width:0.958094;
stroke:#000000;
stroke-opacity:1;
fill:#ff5f5f;
fill-opacity:1;
}
#ys-path229 {
stroke-width:0.958094;
}
#g244 {
stroke-width:0.862285;
}
#ys-path234 {
stroke-width:0.826151;
}
#ys-path236 {
stroke-width:0.826151;
}
#ys-path238 {
stroke-width:0.826151;
}
#ys-path240 {
stroke-width:0.826151;
}
#ys-path242 {
stroke-width:0.826151;
}
#ys-path254 {
stroke-width:0.958094;
}
#ys-path260-3 {
fill:#ff5f5f;
fill-opacity:1;
stroke-width:0.958094;
}
#ys-path186 {
stroke-width:0.958094;
}
#ys-path188 {
stroke-width:0.958094;
}
#g13047 {
stroke-width:0.572329;
}
#ys-path274 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path276 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path278 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path280 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path282 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path284 {
stroke-width:0.548345;
fill:#ffffff;
}
#ys-path288 {
stroke-width:0.548345;
fill:#ff5f5f;
stroke:#263238;
}
#ys-path286 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path272 {
stroke-width:0.548345;
fill:#263238;
stroke:#263238;
}
#ys-path290 {
stroke-width:0.548345;
fill:#ff5f5f;
stroke:#263238;
}
#ys-path292 {
fill:#e8e8e8;
fill-opacity:1;
stroke:#000000;
stroke-width:0.548345;
stroke-opacity:1;
}
#ys-path294 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path296 {
stroke-width:0.548345;
fill:#ff5f5f;
stroke:#263238;
}
#ys-path298 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path300 {
fill:#e8e8e8;
fill-opacity:1;
stroke:#000000;
stroke-width:0.548345;
stroke-opacity:1;
}
#ys-path302 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path304 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path306 {
stroke-width:0.548345;
fill:#ff5f5f;
stroke:#263238;
}
#ys-path308 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path310 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path312 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path314 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path316 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path318 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path320 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path322 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path324 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path326 {
stroke-width:0.548345;
fill:#ff5f5f;
stroke:#263238;
}
#ys-path328 {
stroke-width:0.548345;
fill:#263238;
stroke:#263238;
}
#ys-path330 {
stroke-width:0.548345;
fill:#ff5f5f;
}
#ys-path332 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path334 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path336 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path338 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path340 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path342 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path344 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path346 {
stroke-width:0.548345;
fill:#ffffff;
}
#ys-path348 {
stroke-width:0.548345;
stroke:#263238;
}
#ys-path350 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path352 {
stroke-width:0.548345;
fill:#ffffff;
stroke:#263238;
}
#ys-path354 {
stroke-width:0.548345;
fill:#263238;
stroke:#263238;
}

